@model Obligatorio2.Models.Disciplina

<h1>Detalles de Disciplina</h1>
<p>Id: @Model.Id</p>
<p>Nombre: @Model.Nombre</p>

<div class="col-2">
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>